body{
	background-image: url('image2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.header-1{
	font-family: 'Merriweather', serif;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	top: 50px;
}

.header-1 .header{
	font-size: 50px;
	margin-top: 70px;
}

.header-1 .header span{
	color: blue;
}

img{
	opacity:0.8;
}
img:hover{
	opacity:1.0;
}
img.rounded-corners{
	border-radius: 30px;
}
