body{
	background-image: url('https://img.freepik.com/free-photo/blue-sky-with-white-soft-clouds_64749-3051.jpg?size=626&ext=jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
p{
	align:right:
}
img{
	width:200px;
	height:200px;
	float:left;
}
#size{
	width:1510px;
	height:750px;
}
.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
